<h1>Speak UP</h1>

<div id="home-background">
<%= image_tag("town-hall-banner.jpg", :size => "1160x640")%>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
