<div id= "h1-banner">
  <h1 id ="speak-up">Speak UP </h1>
</div>

<div id="home-background">
<%= image_tag("town-hall-banner.jpg", :size => "1160x640")%>
</div>

<div id= "h2-banner">
  <h2 id ="directions">Enter your town or zip code to search upcoming town hall meetings near you:</h2>
</div>

  <div id="geolocation"></div>
