/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";

#move {
	margin-left: 50px;
	margin-top: 30px;
}

#title {
  text-transform: uppercase;
}

#shift {
	margin-left: 25%;
}

#move_create {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
}

#space {
	margin-top: 15px;
	padding-left: 50px;
	padding-top: 10x;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 10px;
	margin-right: 5%
}

#show {
	font-family: impact;
	text-decoration: underline;
}

#cancel {
	font-family: impact;
	text-decoration: underline;
}

#show:hover {
	color: black;
}

h1 {
	color: #0052A5;
  text-align: center;
  font-size:42px;
  font-family: 'Paytone One', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size:24px;
  font-weight: bolder;

}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
}

#show {
  display: inline-block;
}

#cancel {
  display: inline-block;
}
