// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
 background-size: cover;
}

h1 {
  text-align: center;
  font-size:28px;
}

p {
  color:#FF0000;
  display:inline;
}

  #speak-up {
    margin-left: -195px;
    margin-top: 3%;
    text-align: center;
    display: inline-block;
    color:#ffffff;
    z-index: 2;
    position: absolute;
    font-size: 92px;
    font-family: 'Permanent Marker', cursive;
}

 .last-word {
   color:#FF0000;
 }

#h1-banner {
  text-align: center;
  position: absolute;
  height:23%;
  margin-top: 120px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  min-width: 300px;
  background-color: #000000;
  opacity: 0.58;
  z-index: 1;
}

#h2-banner {
  position: absolute;
  text-align: center;
  margin-top:310px;
  height:7%;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #000000;
  z-index: 2;
  opacity: 0.8;
  word-spacing: 3px;
}

#directions {
  font-size: 16px;
  color:red;
  margin-top: 9px;
  width:95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-family: 'Open Sans', sans-serif;
  z-index: 3;
  font-weight: bold;
}

#home-background {
    // position: absolute;
    // text-align: center;
    background-repeat: no-repeat;
    width: 95%;
    // height: auto;
    background-size: cover;
    z-index: -10;
    opacity: 0.8;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-image: url("town-hall-banner.jpg");
    padding-bottom: 60%;
    max-width: 100%;
    position: static;
    margin-top: -240px;
}

#search {
  text-align: center;
  z-index: 100;
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #ffffff;
  z-index:50;
  opacity: 1;
  height:0px;
  margin-top: 280px;
  font-family:'Open Sans', sans-serif;
}

#search-form {
  padding-top: 100px;
}

#search-form input {
  height:50px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  width:70%;
  text-align: center;
  border-color: #000000;
}

input#button {
width:15%;
height:35px;
margin-left: 32.5%;
margin-right: 32.5%;
background-color: #000000;
color:#ffffff;
border-color: #ffffff;
border-width: .5px;
}

a.navbar-link {
  display: inline;
  text-decoration: none;
  color:black;
  float:right;
  padding-right:40px;
  font-weight: bold;
  margin-top: -20px;
  color: #0052A5;
}
