// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

#background {
  background-repeat: no-repeat;
  width:90%;
  padding-right: 3%;
  padding-left: 3%;
  opacity: 0.8;

}
