// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
 background-size: cover;
}

h1 {
  text-align: center;
}

#video-background {
  top: 50%; left: 50%;
  text-align:center;
  min-width: 100%;
  min-height:100%;
  right:0;
  bottom:0;
  width:auto;
  height:auto;
  transform: translate (-50%,-50%);
  background-size: cover;
  z-index:-100;
  margin-bottom: -50%;
}

#speak-up {
  margin-left: -16%;
  margin-top: 3%;
  text-align: center;
  display: inline-block;
  color:#ffffff;
  z-index: 100;
  position: absolute;
  font-size: 80px;
  font-family: 'Arya', sans-serif;
}

#h1-banner {
  text-align: center;
  position: absolute;
  height:24%;
  margin-top: 130px;
  width:90%;
  min-width: 300px;
  background-color: #000000;
  margin-left: 24px;
  opacity: 0.7;
}

#h2-banner {
  text-align: center;
  position: fixed;
  height:30px;
  margin-top: 450px;
  width:1000px;
  background-color: #000000;
  margin-left: 38px;
}

#directions {
  font-size: 10px;
  height:5%;
  margin-top: -62%;
  width:1000px;
  font-family: 'Bowlby One', cursive;
}
