// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
 background-size: cover;
}

h1 {
  text-align: center;
}

// #video-background {
//   position:absolute;
//   overflow:hidden;
//   top: 50%; left: 50%;
//   width:100%;
//   height:100%;
//   right:0;
//   bottom:0;
//   text-align: center;
//   transform: translate(-50%,-50%);
//   background-size: cover;
//   z-index:-100;
//   margin-bottom: -50%;
// }

#speak-up {
  margin-left: -16%;
  margin-top: 3%;
  text-align: center;
  display: inline-block;
  color:#ffffff;
  z-index: 2;
  position: absolute;
  font-size: 80px;
  font-family: 'Arya', sans-serif;
}

#h1-banner {
  text-align: center;
  position: absolute;
  height:24%;
  margin-top: 130px;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  min-width: 300px;
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
}

// #h2-banner {
//   position: fixed;
//   text-align: center;
//   margin-top:-900px;
//   height:40px;
//   width: 90%;
//   margin-left: 5%;
//   margin-right: 5%;
//   background-color: #000000;
//   z-index: 1;
//   opacity: 0.8;
// }

#directions {
  font-size: 10px;
  height:5%;
  margin-top: -62%;
  width:1000px;
  font-family: 'Bowlby One', cursive;
  z-index: 2;
}

#geolocation {
    position: fixed;
    margin-top: 700px;
    float:right;
    width:450px;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: 5%;
    height:325px;
    left:-20px;
}

#home-background {
    // position: absolute;
    // text-align: center;
    background-repeat: no-repeat;
    width: 92%;
    // height: auto;
    background-size: cover;
    z-index: -10;
    opacity: 0.8;
    margin-left: 4%;
    margin-right: 4%;
    background-image: url("town-hall-banner.jpg");
    padding-bottom: 50%;
    max-width: 100%;
    position: static;
    margin-top: -300px;
}

#search {
  text-align: center;
  z-index: 100;
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #ffffff;
  z-index:50;
  opacity: 1;
  height:20px;
  margin-top: 300px;
}
